body {
  background-color: #f5d9df;
  font-family: "Nunito", sans-serif;
}

.blurb h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
}

#main-navbar .navbar-brand {
  color: #ea1c2c;
}

#main-navbar,
#main-navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: 100;
}

#main-navbar .nav-link {
  color: white;
}

#main-navbar .nav-link:hover {
  color: #ea1c2c;
}

#heading-group span {
  color: #ea1c2c;
}

#heading-group h1 {
  font-weight: 100;
  font-size: 4rem;
}

.navbar.scrolled {
  background: rgb(222, 192, 222);
  transition: background 1s;
}

@media (max-width: 1300px) {
  #heading-group h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}
